Repository Braian-Quintian/express-version-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat: :sparkles: Update Jest configuration for TypeScript support and coverage settings
  jest.config.ts
Due: eslint --fix, prettier --write

refactor: simplify test scripts and add type definition testing
  package-lock.json
  package.json
Due: prettier --write

feat: :sparkles: Add TypeScript configuration for Jest testing
  tsconfig.test.json
Due: prettier --write

fix: remove --passWithNoTests flag from test commands in CI and pre-commit hooks
  .github/workflows/test.yml
  .husky/pre-commit
Due: prettier --write

feat: :sparkles: Add integration and benchmark tests for versioning middleware
  test-types/index.test-d.ts
  test/benchmark.test.ts
  test/middleware.integration.test.ts
Due: eslint --fix, prettier --write

Refactor code structure for improved readability and maintainability
  coverage/base.css
  coverage/block-navigation.js
  coverage/config.ts.html
  coverage/coverage-final.json
  coverage/errors.ts.html
  coverage/favicon.png
  coverage/handler-compiler.ts.html
  coverage/index.html
  coverage/lcov-report/config.ts.html
  coverage/lcov-report/errors.ts.html
  coverage/lcov-report/handler-compiler.ts.html
  coverage/lcov-report/middleware.ts.html
  coverage/lcov-report/types.ts.html
  coverage/lcov-report/version-extractor.ts.html
  coverage/lcov-report/version-parser.ts.html
  coverage/lcov.info
  coverage/middleware.ts.html
  coverage/prettify.css
  coverage/prettify.js
  coverage/sort-arrow-sprite.png
  coverage/sorter.js
  coverage/types.ts.html
  coverage/version-extractor.ts.html
  coverage/version-parser.ts.html
Due: eslint --fix, prettier --write

fix: update timestamp in coverage report files
  coverage/config.ts.html
  coverage/errors.ts.html
  coverage/handler-compiler.ts.html
  coverage/index.html
  coverage/lcov-report/config.ts.html
  coverage/lcov-report/errors.ts.html
  coverage/lcov-report/handler-compiler.ts.html
  coverage/lcov-report/index.html
  coverage/lcov-report/middleware.ts.html
  coverage/lcov-report/types.ts.html
  coverage/lcov-report/version-extractor.ts.html
  coverage/lcov-report/version-parser.ts.html
  coverage/middleware.ts.html
  coverage/types.ts.html
  coverage/version-extractor.ts.html
  coverage/version-parser.ts.html
Due: none

fix: update timestamps in coverage report files
  coverage/config.ts.html
  coverage/errors.ts.html
  coverage/handler-compiler.ts.html
  coverage/index.html
  coverage/lcov-report/config.ts.html
  coverage/lcov-report/errors.ts.html
  coverage/lcov-report/handler-compiler.ts.html
  coverage/lcov-report/index.html
  coverage/lcov-report/middleware.ts.html
  coverage/lcov-report/types.ts.html
  coverage/lcov-report/version-extractor.ts.html
  coverage/lcov-report/version-parser.ts.html
  coverage/middleware.ts.html
  coverage/types.ts.html
  coverage/version-extractor.ts.html
  coverage/version-parser.ts.html
Due: none

feat: :sparkles: Nuevo
  coverage/config.ts.html
  coverage/errors.ts.html
  coverage/handler-compiler.ts.html
  coverage/index.html
  coverage/lcov-report/config.ts.html
  coverage/lcov-report/errors.ts.html
  coverage/lcov-report/handler-compiler.ts.html
  coverage/lcov-report/index.html
  coverage/lcov-report/middleware.ts.html
  coverage/lcov-report/types.ts.html
  coverage/lcov-report/version-extractor.ts.html
  coverage/lcov-report/version-parser.ts.html
  coverage/middleware.ts.html
  coverage/types.ts.html
  coverage/version-extractor.ts.html
  coverage/version-parser.ts.html
Due: none

feat: :sparkles: Nueva implementación
  .prettierignore
  eslint.config.js
  package.json
Due: eslint --fix, prettier --write

fix: update commit message validation regex to allow merge commits
  .github/workflows/pr.yml
Due: prettier --write

fix: add 'Refactor' to valid commit message regex
  .github/workflows/pr.yml
Due: prettier --write

chore: update rollup and minimatch dependencies to version 4.59.0 and 9.0.9 respectively
  package-lock.json
Due: prettier --write

fix: update code coverage date in HTML reports
  coverage/config.ts.html
  coverage/errors.ts.html
  coverage/handler-compiler.ts.html
  coverage/index.html
  coverage/lcov-report/config.ts.html
  coverage/lcov-report/errors.ts.html
  coverage/lcov-report/handler-compiler.ts.html
  coverage/lcov-report/index.html
  coverage/lcov-report/middleware.ts.html
  coverage/lcov-report/types.ts.html
  coverage/lcov-report/version-extractor.ts.html
  coverage/lcov-report/version-parser.ts.html
  coverage/middleware.ts.html
  coverage/types.ts.html
  coverage/version-extractor.ts.html
  coverage/version-parser.ts.html
Due: none

fix: update code coverage timestamp in HTML reports
  coverage/config.ts.html
  coverage/errors.ts.html
  coverage/handler-compiler.ts.html
  coverage/index.html
  coverage/lcov-report/config.ts.html
  coverage/lcov-report/errors.ts.html
  coverage/lcov-report/handler-compiler.ts.html
  coverage/lcov-report/index.html
  coverage/lcov-report/middleware.ts.html
  coverage/lcov-report/types.ts.html
  coverage/lcov-report/version-extractor.ts.html
  coverage/lcov-report/version-parser.ts.html
  coverage/middleware.ts.html
  coverage/types.ts.html
  coverage/version-extractor.ts.html
  coverage/version-parser.ts.html
Due: none

fix: update code coverage timestamps in HTML reports
  coverage/config.ts.html
  coverage/errors.ts.html
  coverage/handler-compiler.ts.html
  coverage/index.html
  coverage/lcov-report/config.ts.html
  coverage/lcov-report/errors.ts.html
  coverage/lcov-report/handler-compiler.ts.html
  coverage/lcov-report/index.html
  coverage/lcov-report/middleware.ts.html
  coverage/lcov-report/types.ts.html
  coverage/lcov-report/version-extractor.ts.html
  coverage/lcov-report/version-parser.ts.html
  coverage/middleware.ts.html
  coverage/types.ts.html
  coverage/version-extractor.ts.html
  coverage/version-parser.ts.html
Due: none

fix: update code coverage timestamps in HTML reports
  coverage/errors.ts.html
  coverage/handler-compiler.ts.html
  coverage/index.html
  coverage/lcov-report/config.ts.html
  coverage/lcov-report/errors.ts.html
  coverage/lcov-report/handler-compiler.ts.html
  coverage/lcov-report/index.html
  coverage/lcov-report/middleware.ts.html
  coverage/lcov-report/types.ts.html
  coverage/lcov-report/version-extractor.ts.html
  coverage/lcov-report/version-parser.ts.html
  coverage/middleware.ts.html
  coverage/types.ts.html
  coverage/version-extractor.ts.html
  coverage/version-parser.ts.html
Due: none

Refactor code structure for improved readability and maintainability
  coverage/base.css
  coverage/block-navigation.js
  coverage/config.ts.html
  coverage/coverage-final.json
  coverage/errors.ts.html
  coverage/favicon.png
  coverage/handler-compiler.ts.html
  coverage/index.html
  coverage/lcov-report/base.css
  coverage/lcov-report/block-navigation.js
  coverage/lcov-report/config.ts.html
  coverage/lcov-report/errors.ts.html
  coverage/lcov-report/favicon.png
  coverage/lcov-report/handler-compiler.ts.html
  coverage/lcov-report/index.html
  coverage/lcov-report/middleware.ts.html
  coverage/lcov-report/prettify.css
  coverage/lcov-report/prettify.js
  coverage/lcov-report/sort-arrow-sprite.png
  coverage/lcov-report/sorter.js
  coverage/lcov-report/types.ts.html
  coverage/lcov-report/version-extractor.ts.html
  coverage/lcov-report/version-parser.ts.html
  coverage/lcov.info
  coverage/middleware.ts.html
  coverage/prettify.css
  coverage/prettify.js
  coverage/sort-arrow-sprite.png
  coverage/sorter.js
  coverage/types.ts.html
  coverage/version-extractor.ts.html
  coverage/version-parser.ts.html
Due: eslint --fix, prettier --write

fix: update .gitignore to include dist and coverage directories
  .gitignore
Due: none

chore: update changelog for version 1.0.7 with fixes and changes
  CHANGELOG.md
Due: prettier --write

chore: bump version to 1.0.7 and update scripts for linting and testing
  package-lock.json
  package.json
Due: prettier --write

fix: disable coverage collection in Jest configuration
  jest.config.ts
Due: eslint --fix, prettier --write

fix: update default values for versioning options and error responses in README
  README.md
Due: prettier --write

fix: update tsBuildInfoFile path in tsconfig.cjs.json for incremental builds
  tsconfig.cjs.json
Due: prettier --write

fix: update tsBuildInfoFile path for incremental builds in tsconfig.esm.json
  tsconfig.esm.json
Due: prettier --write

refactor: restructure tsup configuration for better modularity and clarity
  tsup.config.ts
Due: eslint --fix, prettier --write

refactor: enhance tsup configuration with type safety and clarity
  tsup.config.ts
Due: eslint --fix, prettier --write

fix: update CI workflow to include type definition tests and ensure branch consistency
  .github/workflows/ci.yml
Due: prettier --write

refactor: update PR workflow to improve branch handling and add type tests
  .github/workflows/pr.yml
Due: prettier --write

fix: update branches-ignore in CI workflow and change test command to include coverage
  .github/workflows/test.yml
Due: prettier --write

fix: replace test command with lint-staged in pre-commit hook
  .husky/pre-commit
Due: none

feat: add validation for fallback strategy in configuration resolver
  src/config.ts
Due: eslint --fix, prettier --write

feat: enhance createMissingVersionError to accept custom message
  src/errors.ts
Due: eslint --fix, prettier --write

feat: add ESM entrypoint to re-export APIs and default middleware
  src/index.esm.ts
Due: eslint --fix, prettier --write

feat: enhance versioning middleware to support custom fallback sources and error handling
  src/middleware.ts
Due: eslint --fix, prettier --write

feat: enhance extractFromPath to handle stateful regex patterns
  src/version-extractor.ts
Due: eslint --fix, prettier --write

feat: enhance version comparison logic for caret and tilde ranges
  src/version-parser.ts
Due: eslint --fix, prettier --write

feat: update version to 2.0.0 in package.json and package-lock.json
  package-lock.json
  package.json
Due: prettier --write

chore: update changelog for version 2.0.0 release, removing deprecated APIs and adjusting sections
  CHANGELOG.md
Due: prettier --write

Path conditions:
  eslint --fix: (any of: *.{ts,tsx}) or (any of: *.{js,jsx,mjs,cjs})
  prettier --write: ((((any of: *.{ts,tsx}) or (any of: *.{js,jsx,mjs,cjs})) or (any of: *.{json,jsonc})) or (any of: *.{md,mdx})) or (any of: *.{yml,yaml})
